{% extends "layout.html" %}
{% block content %}
<div>
  <section class="py-5 bg-light">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 col-lg-6">
          <h2 class="fs-1 fw-bold">
            <span>콘텐츠의</span><br>
            <span class="text-primary">분위기를</span>
            <span>찾아보세요!</span>
          </h2>
        </div>
        <div class="col-12 col-lg-6 d-flex">
          <p class="my-auto text-muted lh-lg">Mood Decider는<br>
            글과 이미지 상관없이 콘텐츠를 분석하여 분위기를 추천 할 수 있습니다.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="p-5 text-center bg-white shadow-sm rounded">
            <div class="d-inline-block py-3 px-4 bg-light rounded-circle text-primary fw-bold">1</div>
            <img class="img-fluid my-4" height="192" src="" alt="">
            <h5 class="mb-3">간단한 회원가입</h5>
            <p class="text-muted">회원가입 설명</p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="p-5 text-center bg-white shadow-sm rounded">
            <div class="d-inline-block py-3 px-4 bg-light rounded-circle text-primary fw-bold">2</div>
            <img class="img-fluid my-4" height="192" src="" alt="">
            <h5 class="mb-3">간편한 URL입력</h5>
            <p class="text-muted">URL입력 설명</p>
          </div>
        </div>
        <div class="col-12 col-lg-4 mb-4">
          <div class="p-5 text-center bg-white shadow-sm rounded">
            <div class="d-inline-block py-3 px-4 bg-light rounded-circle text-primary fw-bold">3</div>
            <img class="img-fluid my-4" height="192" src="" alt="">
            <h5 class="mb-3">URL분석 결과 저장</h5>
            <p class="text-muted">결과 저장 설명</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<hr>
<div>
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4 col-md-auto col-sm-auto border border-dark">
          <img class="img-fluid mt-2"
            src="https://images.unsplash.com/photo-1489058535093-8f530d789c3b?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60"
            alt="">

          <h2 class="text-center text-primary">01. 회원가입 & 로그인</h2>
        </div>
        <div class="col-12 col-lg-8 col-md-auto col-sm-auto">
          <h3>이름, 이메일 입력으로 간단하게 회원가입을 할 수 있습니다😊
          </h3>
          <div class="mt-4">
            <p>1. 회원가입을 통해 계정을 생성해야만 Mood Decider의 서비스를 이용하실 수 있습니다.</p>
          </div>
          <a class="btn btn-lg btn-block btn-primary m-2" href="#" style="float:right;">Mood Decider 회원가입 바로하기</a>
          <a class="btn btn-lg btn-block btn-primary m-2 " href="#" style="float:right;">Mood Decider 로그인 바로하기</a>
        </div>
      </div>
    </div>
  </section>

  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4 col-md-auto col-sm-auto border border-dark">
          <img class="img-fluid mt-2"
            src="https://images.unsplash.com/photo-1489058535093-8f530d789c3b?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60"
            alt="">

          <h2 class="text-center text-primary">02. URL분석
          </h2>
        </div>
        <div class="col-12 col-lg-8 col-md-auto col-sm-auto">
          <h3>URL입력만으로 해당사이트 컨텐츠의 Mood를 분석할 수 있습니다😊</h3>
          <div class="mt-4">
            <p>
              1. 회원가입을 통해 계정을 생성해야만 Mood Decider의 서비스를 이용하실 수 있습니다.</p>
          </div>
          <a class="btn btn-lg btn-block btn-primary m-2" href="#" style="float:right;">URL분석 바로하기</a>
        </div>
      </div>
    </div>
  </section>

  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4 col-md-auto col-sm-auto border border-dark">
          <img class="img-fluid mt-2"
            src="https://images.unsplash.com/photo-1489058535093-8f530d789c3b?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60"
            alt="">
          <h2 class="text-center text-primary">03. Mood분석결과리스트
          </h2>
        </div>
        <div class="col-12 col-lg-8 col-md-auto col-sm-auto">
          <h3>URL을 분석하여 컨텐츠에 가장 어울리는 Mood를 추천할 수 있습니다😊
          </h3>
          <div class="mt-4">
            <p>1. URL분석 후 이용할 수 있음</p>
          </div>
          <a class="btn btn-lg btn-block btn-primary m-2" href="#" style="float:right;">URL분석결과리스트 바로보기</a>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}