{% extends "root.html" %}
{% block content %}
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="position-relative col-12 col-lg-4 pr-lg-5 text-center text-lg-left">
          <h2 class="mb-3 fs-1 fw-bold">Mood 검색</h2>
          <p class="mb-5 text-muted lh-lg">URL검색을 통해 콘텐츠의 분위기를 찾아보세요.</p>
          <div class="position-absolute bottom-0 left-0 w-100">
            <div class="d-flex justify-content-center justify-content-lg-start">
              <a class="ms-3 me-3" href="#">
                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18"></path>
                </svg>
              </a>
              <a href="#">
                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-8 mt-5 mt-lg-0">
          <img class="img-fluid rounded" src="https://images.unsplash.com/photo-1467803738586-46b7eb7b16a1?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1189&amp;q=80" alt="">
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
