{% extends "layout.html" %}
{% block content %}
<div>
  <section class="py-5">
    <div class="container">
      <div class="position-relative py-5">
        <div class="position-absolute" style="top: 0; left: 0;">
          <img class="img-fluid" src="" alt="">
        </div>
        <div class="row">
          <div class="col-12 col-lg-7 py-5 mx-auto text-center">
            <h2 class="mb-3 fs-1 fw-bold">
              <span>분위기</span>
              <span class="text-muted">분석 서비스</span>
              <span class="text-primary">Mood Decider.</span>
            </h2>
            <p class="text-muted">The Mood Decider is a mood analysis service.</p>
          </div>
        </div>
        <div class="position-absolute" style="bottom: 0; right: 0;">
          <img class="img-fluid" src="" alt="">
        </div>
      </div>
    </div>
  </section>
  <hr>
  <section class="py-5">
    <div class="container overflow-hidden">
      <div class="row mb-5 pb-4">
        <div class="col-12 col-lg-6 mb-5 mb-lg-0">
          <div class="position-relative p-5" style="height: 500px;">
            <div class="position-absolute top-0 start-0 h-100 w-100 bg-light rounded mt-3 ms-3"></div>
            <img class="position-absolute top-0 start-0 h-100 w-100 rounded" style="object-fit: cover;"
              src="https://images.unsplash.com/photo-1479936343636-73cdc5aae0c3?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60"
              alt="">
          </div>
        </div>
        <div class="col-12 col-lg-6 d-flex">
          <div class="px-lg-5 my-auto">
            <img class="img-fluid" src="" alt="">
            <h2 class="my-4 fs-2 lh-base fw-bold">저희는 매일 다른 감정을 기록하는<br>
              블로거들의 글을 좀 더 몰입할 수 있도록<br>
              음악을 선정할 때 도움을 주는 분위기를<br>
              추천합니다.</h2>
            <h5 class="mb-1 fs-5">capstone2022-23</h5>
            <p class="mb-0 text-primary">Mood Decider팀</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <section class="py-5">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 col-lg-5 mx-auto text-center">
          <h2 class="fs-1 fw-bold">특징</h2>
          <p class="text-muted lh-lg">Mood Decider의 주요 특징입니다</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6 p-3 col-lg-3 mb-4 text-center">
          <img class="mb-3 img-fluid" style="max-width: 90px;" src="" alt="">
          <h4 class="fw-bold">1번</h4>
        </div>
        <div class="col-6 p-3 col-lg-3 mb-4 text-center">
          <img class="mb-3 img-fluid" style="max-width: 90px;" src="" alt="">
          <h4 class="fw-bold">2번</h4>
        </div>
        <div class="col-6 p-3 col-lg-3 mb-4 text-center">
          <img class="mb-3 img-fluid" style="max-width: 90px;" src="" alt="">
          <h4 class="fw-bold">3번</h4>
        </div>
        <div class="col-6 p-3 col-lg-3 mb-4 text-center">
          <img class="mb-3 img-fluid" style="max-width: 90px;" src="" alt="">
          <h4 class="fw-bold">4번</h4>
        </div>
        <div class="col-6 p-3 col-lg-3 mb-4 text-center">
          <img class="mb-3 img-fluid" style="max-width: 90px;" src="" alt="">
          <h4 class="fw-bold">5번</h4>
        </div>
        <div class="col-6 p-3 col-lg-3 mb-4 text-center">
          <img class="mb-3 img-fluid" style="max-width: 90px;" src="" alt="">
          <h4 class="fw-bold">6번</h4>
        </div>
        <div class="col-6 p-3 col-lg-3 mb-4 text-center">
          <img class="mb-3 img-fluid" style="max-width: 90px;" src="" alt="">
          <h4 class="fw-bold">7번</h4>
        </div>
        <div class="col-6 p-3 col-lg-3 mb-4 text-center">
          <img class="mb-3 img-fluid" style="max-width: 90px;" src="" alt="">
          <h4 class="fw-bold">8번</h4>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}